<div class='modal__card'>
  <img class='modal__movie-backdrop' src='{{largeImageURL}}' alt='photo' />
  <h2>
    <span class='modal__movie-title'>tags - {{tags}}</span>
  </h2>
  <ul class='modal__movie-info'>
    <div class='loader'></div>
    <li class='modal__movie-genre'>likes - {{likes}}</li>
    <li class='modal__movie-runtime'>downloads - {{downloads}}</li>
    <li class='modal__movie-overview'>user - {{user}}</li>
  </ul>
  <button type='button' class='modal__button-close'>X</button>
  <button type='button' class='modal__button-favorites'>add to favorites</button>
  <button type='button' class='modal__button-showFriends'>add to "show" list</button>
</div>